<?php $this->headTitle('Cookie Policy'); ?>

<h1>Cookie Policy</h1>

<p>Cookie Policy for <?php echo $this->siteName; ?>.</p>

<h3 id="what-are-cookies">What Are Cookies</h3>

<p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>

<p>For more general information on cookies see <a href="https://en.wikipedia.org/wiki/HTTP_cookie" rel="nofollow" target="_blank">the Wikipedia article on HTTP Cookies</a>.</p>

<h3 id="how-we-use-cookies">How We Use Cookies</h3>

<p>We use cookies for a variety of reasons <a href="#the-cookies-we-set">detailed below</a>. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p>

<h3 id="disabling-cookies">Disabling Cookies</h3>

<p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.</p>

<h3 id="the-cookies-we-set">The Cookies We Set<a id="the-cookies-we-set"></a></h3>

<h4 id="email-newsletters-related-cookies">Email newsletters related cookies</h4>

<p>This site offers newsletter or email subscription services and cookies may be used to remember if you are already registered and whether to show certain notifications which might only be valid to subscribed/unsubscribed users.</p>

<h3 id="third-party-cookies">Third Party Cookies</h3>

<p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</p>

<ul>
    <li><p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content. For more information on Google Analytics cookies, see <a href="https://www.google.com/analytics/#?modal_active=none" rel="nofollow" target="_blank">the official Google Analytics page</a>.</p></li>
    <li><p>From time to time we test new features and make subtle changes to the way that the site is delivered. When we are still testing new features these cookies may be used to ensure that you receive a consistent experience whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.</p></li>
    <li><p>As we sell products it's important for us to understand statistics about how many of the visitors to our site actually make a purchase and as such this is the kind of data that these cookies will track. This is important to you as it means that we can accurately make business predictions that allow us to monitor our advertising and product costs to ensure the best possible price.</p></li>
    <li><p>We also use social media buttons and/or plugins on this site that allow you to connect with your social network in various ways. For these to work the following social media sites and tools including: Twitter, LinkedIn, Facebook, Google+, and Reddit, Disqus, and AddThis, will set cookies through our site which may be used to enhance your profile on their site or contribute to the data they hold for various purposes outlined in their respective privacy policies.</p></li>
</ul>

<h3 id="more-information">More Information</h3>

<p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</p>

<p>However if you are still looking for more information then you can contact us via email, <a href="mailto:<?php echo $this->siteEmailAddress; ?>"><?php echo $this->siteEmailAddress; ?></a>, or via the listed options on <a href="/contact">the contact page</a>.</p>

<p>This Cookies Policy was created with the help of <a href="https://cookiepolicygenerator.com" rel="nofollow" target="_blank">the CookiePolicyGenerator.com</a>.</p>
