<?php $this->headTitle('Home'); ?>

<div class="row">
    <div class="col-md-12">
        <h2><i class="fa fa-bolt"></i> Solar Installations</h2>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Technician</th>
                        <th>Installation Address</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (empty($this->installations)): ?>
                    <tr>
                        <td colspan="4">No installations available. <a href="h">Create one?</a></td>
                    </tr>
                    <?php else: ?>
                        <?php
                        /**
                         * @var $installation \App\Entity\Installation
                         */
                        foreach ($this->installations as $installation): ?>
                            <tr>
                                <td><?php echo $installation->getStartDate()->format('d-m-Y'); ?></td>
                                <td><?php echo $installation->getEndDate()->format('d-m-Y'); ?></td>
                                <td><?php echo $installation->getTechnician()->getFullName(); ?></td>
                                <td><?php print $installation->getBuildingAddress(); ?></td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">Total records: <?php print count($this->installations); ?></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
